:root {
    --cards-per-row: 4;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.hbox {
    display: flex;
}

.board {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100px * var(--cards-per-row));
}

.carta {
    width: 80px;
    height: 80px;
    background-color: #bbbbbb;
    margin: 5px;
    padding: 5px;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
}

.encontrada {
    background-color: green;
}

.info {
    padding-left: 60px;
    padding-right: 20px;
    background-color: #dddddd;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descubierta {
    background-color: #f2f2f2;
}
