:root {
    --cards-per-row: 4;
}

body {
    background-color: rgb(37, 37, 37);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(201, 201, 3);
}

button {
    background-color: black;
    color: rgb(201, 201, 3);
    padding: 12px;
    border-radius: 6px;
    font-size: large;
}

button:hover {
    background-color: #222222;
}

.boton-reiniciar {
    font-size: medium;
}

.hbox {
    display: flex;
}

.board {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100px * var(--cards-per-row));
    padding: 12px;
}

.carta {
    width: 80px;
    height: 80px;
    background-color: rgb(28, 28, 28);
    margin: 5px;
    padding: 5px;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
}

.recogida {
    visibility: hidden;
}

.clicable:hover {
    background-color: rgb(59, 59, 59);
}

.encontrada {
    background-color: green;
}

.info {
    padding-left: 60px;
    padding-right: 20px;
    color: #bbbbbb;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descubierta {
    background-color: #f2f2f2;
}

.boton-reiniciar-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0px;
}
