body {
    height: 100vh;
    background-color: #f8f8f8;
}

.hbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.title {
    font-size: 2em;
    color: #333;
}

.start-button {
    margin: 20px 4px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.start-button:hover {
    background-color: #007B9A;
}
